@import 'styles/default.css';

.ColorBox {
    display: flex;
    position: relative;

    .box {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: solid 1px black;
    }


    .tile {
        border-radius: 5px;
    }

    .source {
        border-radius: 50%;
    }

    .tooltip {
        visibility: hidden;
        position: absolute;
        display: inline-block;
        z-index: 10;
        top: 14px;
        left: 20px;
    }

    .tooltipText {
        background-color: var(--bgGray);
        color: var(--black);
        text-align: center;
        padding: 3px 6px;
        border-radius: 3px;
        font-size: 12px;
        white-space: nowrap;
    }

    &:hover div {
        visibility: visible;
    }

    .bordered {
        border: 1px var(--red) solid;
    }
}