.GameInfoBox {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 10px;
    text-align: left;
    gap: 16px;

    .colorLine {
        display: flex;
        gap: 12px;
        align-items: center;
    }
}