.Board {
    display: flex;
    flex-direction: column;

    ul {
        padding: 4px;
    }

    .boardGrid {
        display: grid;
        grid-template-areas:
            ". sourcesRowTop ."
            "sourcesColLeft tiles sourcesColRight"
            ". sourcesRowBottom .";
        width: fit-content;
    }

    .sources {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .sources.left {
        grid-area: sourcesColLeft;
        flex-direction: column;
    }

    .sources.top {
        grid-area: sourcesRowTop;
        flex-direction: row;
    }

    .sources.right {
        grid-area: sourcesColRight;
        flex-direction: column;
    }

    .sources.bottom {
        grid-area: sourcesRowBottom;
        flex-direction: row;
    }

    .tiles {
        grid-area: tiles;
    }

}